/*Deus seja adorado!*/
html {
    background-color: black;
}
body {
    background-color: #e3e3e3;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
header {
    height: 40%;
    background-image: url(../imagens/fundoedifiber.jpg);
    background-size: 100%;
    background-position: bottom;
}
#nome {
    background-color: #558308;
    color: white;
    width: 30%;
    margin: 1% auto;
    padding: 0.7%;
    min-width: 300px;    
}
#nome img {
    float: left;
    margin: 1%;
    margin-left: 10%;
}
h1 {    
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    
}
h2 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    clear: both;
    font-size: 200%;
}
nav {
    width: 100%;
}
#menu {
    background-color: #000;
}
.navbar {
    border-color: #d9d9d9;
    border-left-color: #000;
    border-right-color: #000;
}
.navbar-default {
    color: white;
}
section {
    padding: 1%;
}
.item img {
    float: left;
    clear: bottom;
}
.item {
    float: right;
    height: 50%;
}
.item h3, .item ul, .item ol {
    text-align: center;
}
ol {
    list-style: none;
}
.item .button {
    float: bottom;
    float: right;
}
.button, .button a {
    background-color: #558308;
    color: white;
}
.button:hover, .button a:hover {
    background-color: #385303;
    color: white;
    text-decoration: none;
}
footer {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 75%;
}
footer img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px;
}
footer a {
    color: white;
}
#active {
    background-color: #558308;
    color: white;
}